.destaque{
    background: transparent;
    border: 1px solid var(--cor1);
    color: var(--cor1);
    font-size: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:6px ;
    padding: 12px 28px;
    border-radius: 4px;
    margin-bottom: 24px;    
    }

