/* Poppins Bold */
// @font-face {
//     font-family: 'Poppins';
//     src: url('../Fonts/Poppins-Bold.ttf') format('truetype');
//     font-weight: bold;
//   }
  
//   /* Poppins Light */
//   @font-face {
//     font-family: 'Poppins';
//     src: url('../Fonts/Poppins-Light.ttf') format('truetype');
//     font-weight: 300;
//   }
  
//   /* Poppins Medium */
//   @font-face {
//     font-family: 'Poppins';
//     src: url('../Fonts/Poppins-Medium.ttf') format('truetype');
//     font-weight: 400; 
//   }
  
//   /* Poppins Regular (ou Normal) */
//   @font-face {
//     font-family: 'Poppins';
//     src: url('../Fonts/Poppins-Regular.ttf') format('truetype');
//     font-weight: 100;  
//   }
  
  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // overflow: hidden;
    
}
html {
    scroll-behavior: smooth;
  }  
// body * {
//     border: 1px solid red;
// }
body {
    font-family: "Poppins", sans-serif;
    -webkit-font-smoothing: antialiased;
    background-image: linear-gradient(to bottom, #03091E, #191622);
    // background-color:#03091E ;
    color: white;
    font-weight: 100;
    position: relative;
    overflow-x: hidden; 
}

body, h1, h2, input, button, p{
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;
    outline: none;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}

button a {
    cursor: pointer;
    transition: filter 0.2s;
}

button:hover, a:hover{
    filter: brightness(0.8);
}

