.social_links{
    display: flex;
    flex-direction: row;
    gap:  8px;
    a{
      // width: 48px;
      text-align: center;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #191622;
      img {
        padding: 12px;
      }

      
    }
  }