:root {
    --cor1: #ffffff;
    --cor2: #8A42DB;
    --cor3: #9955E8;
    --surface-tertiary: #4E4563;
    --surface-background: #171023;
    --surface-primary: #2C243B;
    --surface-secondary: #413A4F;
    --cor8: #CDD0D4;
    --cor9: #F5F6F6;
  }
  