@import "./reset";
@import "./header";
@import "./home";
@import "./sobre";
@import "./main";
@import "./layout";
@import "./tema";
@import "./projetos";

@import "./button";

.escondido {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
  }
  
  .visivel {
    visibility: visible;
    opacity: 1;
  }
  