@import "./reset";
@import "./header";
@import "./home";
@import "./sobre";
@import "./projetos";
@import "./contato";
@import "./footer";

@import "./layout";
// @import "./main";
@import "./tema";
@import "./button";
@import "./social_link";
@import "./links_hover";

.escondido {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
  }
  
  .visivel {
    visibility: visible;
    opacity: 1;
  }
  